# Data Procesada
ICD/data_procesada/February_2024.csv
ICD/ICD-Indice_de_Calidad_de_Data.xlsx
ICD/master_calidad.xlsx

# Bases de datos internas
ICD/fuentes_datos/clientes/MD_TRAD_PERU_11.23.xlsx

# Data de Parametros
ICD/parametros.xlsx

# Datos de Almacenamiento Interno de R
ICD/fuentes_datos/.RData
ICD/fuentes_datos/.Rhistory
.DS_Store
ICD/~$ICD - Indice de Calidad de Data.xlsx
ICD/ICD - Indice de Calidad de Data.xlsx
ICD/data_evaluada/peru_icd3.csv
ICD/data_procesada/2024-01.csv
ICD/data_procesada/2024-02.csv
ICD/data_procesada/2024-04.csv
ICD/data_procesada/2024-03.csv
ICD/data_procesada/2024-05.csv
ICD/fuentes_datos/clientes/~$MD TRAD PERU 11.23.xlsx
ICD/fuentes_datos/clientes/Base Clientes PE - Abril 24.xlsx
.DS_Store
ICD/.DS_Store
ICD/data_procesada/.DS_Store
ICD/fuentes_datos/.DS_Store
ICD/fuentes_datos/clientes/.DS_Store
ICD/fuentes_datos/scenes/.DS_Store
ICD/fuentes_datos/actual/.DS_Store
ICD/fuentes_datos/.DS_Store
ICD/.RDataTmp
ICD/.Rhistory
